/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Times New Roman;
}

body {
    font-family: Arial;
    background-color: blue;
    color: #0000ff;
    text-align: center;
    padding: 20px;
}

/* Header */
header {
    background: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image Styling */
.nutrition-img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Paragraph */
.content p {
   font-family: Times New Roman;
    font-size: 22px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffff00;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1);
}

/* Footer */
footer {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
